<h2>Book Appointment</h2>

<form method="post">
    {% csrf_token %}

    <label>Select Doctor:</label>
    <select name="doctor">
        {% for doctor in doctors %}
        <option value="{{ doctor.id }}">
            {{ doctor.user.username }} - {{ doctor.department }}
        </option>
        {% endfor %}
    </select>

    <br><br>

    <label>Date:</label>
    <input type="date" name="date">

    <br><br>

    <label>Time:</label>
    <input type="time" name="time">

    <br><br>

    <button type="submit">Book Appointment</button>

</form>