{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"> -->
    </head>
    <body>
        <div class="Home">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'images/healthcare_logo.webp' %}" alt="logo">
                    <i>Smart Healthcare System</i>
                </div>
                <div>
                    <a href="{% url 'patient_home' %}">Home</a>
                    <a href="{% url 'health_library' %}">Health Library</a>
                    <a href="{% url 'health_analysis' %}">Health Analysis</a>
                    <a href="{% url 'book_appointment' %}">Appointment</a>
                    <a href="{% url 'medicine_reminder' %}">Medicine Reminder</a>
                </div>
                {% comment %}
                <!-- <div class="nav-right">
                    <a href="#" class="chat-link">
                        💬 Chat with Us
                    </a>
                </div> -->
                {% endcomment %}
                <div class="nav-right">
                    <a href="{% url 'profile' %}" class="profile-link">Profile</a>
                </div>
            </div>
            <!-- <div class="text">
            <p>Healthcare for Good Today. Tomorrow. Always</p>
            <p class="sub">Track vitals, monitor health conditions, receive alerts,
                and take proactive care of your well-being.</p>
        </div> -->
            <div class="hero">
                <div class="hero-overlay">
                    <div class="hero-content">
                        <h1>
                            Your Health is always
                            <br>
                            in the first  place
                        </h1>
                        <p></p>
                        <div class="hero-buttons">
                            <a href="{% url 'book_appointment' %}" class="btn-primary">Book Appointment</a>
                            {% comment %} <a href="#" class="btn-secondary">Check Symptoms</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <section class="services">
                <section class="impact-section">
                    <div class="impact-heading">
                        <h2>Smarter Care, Better Health</h2>
                        <p>
                            Digital healthcare solutions designed to help you monitor,
            manage, and improve your well-being with ease.
                        </p>
                    </div>
                    <div class="impact-container">
                        <a href="{% url 'health_library' %}" class="impact-card-link">
                            <div class="impact-card">
                                <i class="fa-solid fa-book-medical impact-icon"></i>
                                <h3>Health Library</h3>
                                <p>
                                    Access trusted medical articles, wellness guides
                and preventive healthcare information anytime.
                                </p>
                            </div>
                        </a>
                        <a href="{% url 'health_analysis' %}" class="impact-card-link">
                            <div class="impact-card">
                                <i class="fa-solid fa-heart-pulse impact-icon"></i>
                                <h3>Health Analysis</h3>
                                <p>
                                    Track BP, Sugar, Heart Rate and SpO₂ to receive intelligent health insights and early risk detection.
                                </p>
                            </div>
                        </a>
                        
                        <a href="{% url 'book_appointment' %}" class="impact-card-link">
                            <div class="impact-card">
                                <i class="fa-solid fa-calendar-check impact-icon"></i>
                                <h3>Book Appointment</h3>
                                <p>
                                    Schedule online consultations with verified healthcare professionals based on availability.
                                </p>
                            </div>
                        </a>
                        <a href="{% url 'medicine_reminder' %}" class="impact-card-link">
                            <div class="impact-card">
                                <i class="fa-solid fa-pills impact-icon"></i>
                                <h3>Medicine Reminder</h3>
                                <p>
                                    Set reminders for your medicines with time and duration so you never miss a dose.
                                </p>
                            </div>
                        </a>
                    </section>
                    <section class="why-platform">
                        <div class="platform-heading">
                            <!-- <span>Key Highlights</span> -->
                            <h2>Why Choose Our Healthcare Platform?</h2>
                        </div>
                        <div class="platform-container">
                            <div class="platform-card">
                                <i class="fa-solid fa-heart-pulse"></i>
                                <h3>Smart Health Monitoring</h3>
                                <p>
                                    Monitor vital health indicators like BP, sugar levels,
                heart rate and oxygen saturation easily.
                                </p>
                            </div>
                            <div class="platform-card">
                                <i class="fa-solid fa-calendar-check"></i>
                                <h3>Easy Appointment Booking</h3>
                                <p>
                                    Schedule doctor consultations quickly through an
                organized appointment system.
                                </p>
                            </div>
                            <div class="platform-card">
                                <i class="fa-solid fa-book-medical"></i>
                                <h3>Trusted Health Library</h3>
                                <p>
                                    Access reliable healthcare articles, wellness tips,
                and medical guidance anytime.
                                </p>
                            </div>
                        </div>
                    </section>
                </section>
                <footer class="footer">
                    <div class="footer-container">
                        <!-- Quick Links -->
                        <div class="footer-links">
                            <h4>Quick Links</h4>
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Health Analysis</a>
                                </li>
                                <li>
                                    <a href="#">Health Library</a>
                                </li>
                                <li>
                                    <a href="#">Book Appointment</a>
                                </li>
                                {% comment %}
                                <li>
                                    <a href="#">Laboratory Test</a>
                                </li>
                                {% endcomment %}
                            </ul>
                        </div>
                        <!-- Contact Us -->
                        <div class="footer-contact">
                            <h4>
                                <a href="contact.html">Contact Us</a>
                            </h4>
                            <p>Email: support@smarthealthcare.com</p>
                            <p>Location: India</p>
                        </div>
                        <!-- About Us -->
                        <div class="footer-about">
                            <h4>
                                <a href="about.html">About Us</a>
                            </h4>
                            <p>
                                Smart Healthcare is a digital healthcare platform designed to
                help users monitor their health, access medical information,
                book doctor appointments, and manage health records easily
                through a secure and user-friendly system.
                            </p>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <p>© 2026 Smart Healthcare System. All rights reserved.</p>
                    </div>
                </footer>
            </body>
        </html>
